.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-item .cart-product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cart-item .cart-product img {
  width: 200px;
  max-width: 100%;
  object-fit: contain;
  margin-right: 1.5rem;
}



.cart-item .cart-product a {
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 500;
    color: #0a0a0a;
    transition: all .3s ease-in-out;
}

.cart-item .cart-product a:hover {
    color: #717fe0;
}


.cart-item .cart-product p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.cart-item .cart-product p span {
  width: 20px;
  display: inline-block;
  font-weight: 400;
  margin-left: 1.75rem;
}


.cart-item .cart-product button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  background: none;
  color: gray;
  transition: all .3s ease-in-out;
}

.cart-item .cart-product button:hover {
  color: #ff3333;;
}

.cart-item .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 6px;
  padding: .5rem 0;
}

.cart-item .quantity button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #0a0a0a;
  font-size: 1.25rem;
}

.cart-item .quantity .count {
  padding: 0 1rem;
  font-weight: 500;
}

.cart-item .total {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}


@media (max-width: 768px) {
.cart-item {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .total {
    justify-self: left;
  }
}