.colors-container {
    display: flex;
    margin: .5rem 0;
    gap: 1.5rem;
}

.title {
    font-weight: 500;
}

.color {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1.75px solid #eee;
    transition: all .3s ease-in-out;

}

.active {
    border: 1.75px solid #717fe0;
}