.sizes-container {
    display: flex;
    margin: .5rem 0;
    gap: 1.5rem;
}

.title {
    font-weight: 500;
}

.size {
    display: block;
    min-width: 40px;
    width: fit-content;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    border: 1.75px solid #eee;
    transition: all .3s ease-in-out;
}

.active {
    border: 1.75px solid #717fe0;
}